<app-slider>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
  <div class="buttonOnImage" appSliderItem>
    <img
      class="image"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
    />
    <div class="overlay">
      <div class="center-content">
        Nature
        <br />
        <button class="btn">More Photos</button>
      </div>
    </div>
  </div>
</app-slider>
